<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The best cureated Cafes in Town">
    <title>Waroeng's Portal</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>

    <a href="#main" class="skip-link">Menuju ke konten</a>

    <dw-header></dw-header>

    <main id="main"></main>

    <dw-footer></dw-footer>

</body>

</html>